#welcome{
    padding: 100px 10%;
}
h2{ 
    text-align: center;
    font-size: 3em;
}

p{
    letter-spacing: 1px;
    color: #999;
}
img {
    width: 100%;
}
#what-we-do {
    padding: 100px;
    padding-top: 0;
    text-align: center;
}
#what-we-do .cointainer{
    display: flex;
    flex-wrap: wrap;
}
#what-we-do .item {
    width: 25%;
    padding: 20px;
}
#what-we-do h2{

    text-align: center;
    font-size: 3em;
}
.item img{
    width: 80%;
    border-radius: 50%;
    padding: 30px;

}
/*Header*/

header{
    width: 100%;
    height: 100vh;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;

}
header  nav {
    float: right;
    margin-right: 50px;

}

nav a{
    display: block;
}

nav > ul {
    overflow: auto;
    padding: 0;
}
nav > ul > li {
    float: left;
    margin: 0 5px;
    list-style-type: none;
}

nav > ul > li:first-child {
    background-color: white;
    border-radius: 5px;
}
nav ul > li > a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}

nav > ul > li:first-child > a {
    color: black;
}
nav label{
    display: none;
}
nav input {
    display: none;
}
nav a {
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
}




#header__cointainer{
    display: flex;
    justify-content: space-between;
}
#header__cointainer .logo{
    height: 40px;
    color:#fff;
    margin: 15px 30px;
}


#main-header {
    display: block;
    width: 50%;
    height: 350px;
    color: #fff;
    margin: 70px auto;
}
#main-header-readmore {
    width: 130px;
    border: solid 2px white;
    margin: auto;
    border-radius: 5px;
    padding:10px;
    text-align: center;
}
#main-header p {
    color: #fff;
    text-align: center;
}
#label-list{
    height: 40px;
    display: block;
    margin:2px auto;
    text-align: center;
    

}
#label-list ul {
    display: block;
    margin: 0;
    padding: 0;
    
}
#label-list li{
    margin: 0 5px;
	width: 11px;
	height: 11px;
    display: inline-block;
    background: rgba(212,212,212,1);
    border-radius: 100%;
}
#statistics {
    background-image: url('../img/bg.jpg');
    padding: 50px;
    color: white;
   background-size: cover;
}

#statistics .container{
    padding: 20px;
    margin: auto;
    overflow: auto;
}
#statistics .container div {
    width: 25%;
    float: left;
    text-align: center;
}

#statistics p:first-child {
    font-size: 70px;
}
#statistics p {
    margin: 0;
    color: #fff;
}

 #services {
    background-color: #f8f9fa;
    padding: 100px;

}
.div-whole {
    display: flex;

}
#services .services-left{
    margin-left: 50px;
    margin-top: 50px;
    width: 33%;

}
.services-left h2{
    margin-bottom: 0;
}
#services .services-right{
    margin-top: 50px;
    width: 66.7%;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;

}
#services .services-item { 
     width: 48%;
     margin: 5px;
    border: 7px;
    padding: 50px;
     line-height: 75px;
     text-align: center;
    box-shadow: 5px 5px 5px rgb(221 214 214);
    background-color:white ; 

}
#services .services-item:hover {
    background: #ff9900;
}
#services .services-item:hover i {
    color: #fff;
}

#services .services-item:hover p {
    color: #fff;
}

.services-item h3{
    margin-top: 0;
    margin-bottom: 0;
}
.services-item p{
    margin-bottom: 0;
    padding: 0;
    line-height: 20px;
    display: inline-block;

}
.arrow {
    color: orange;
    font-size: xx-large;
}



#testimonial {
    background-image: url('../img/bg.jpg');
   background-size: cover;
   color: white;
   padding: 45px;
}
#testimonial .testimonial-cointainer{
    text-align: center;
    overflow: auto;
}

.testimonial-cointainer .testimonial-element-left {
    float:left;
    width:28%;
    margin-left: 100px;
}

.testimonial-cointainer .testimonial-element-center {
    width:28%;
    margin: 0 auto;
    float: left;


}


.testimonial-cointainer .testimonial-element-right {
    float: left;
    width:28%;
}
.testimonial-cointainer div{
    padding: 25px;
}
.testimonial-title h2{
    color: white;
    font-size: bold;
}
.testimonial-element-left h3{
    color: orange;
    text-align: right;
}
.testimonial-element-left p{
    margin-bottom: 0;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
}
.testimonial-element-center h3{
    color: orange;
    text-align: right;

}
.testimonial-element-center p{
    margin-bottom: 0;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
}
.testimonial-element-right h3{
    color: orange;
    text-align: right;

}
.testimonial-element-right p{
    margin-bottom: 0;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
}
.testimonial-element-left img{
    width: 80%;
    border-radius: 80%;
    display: block;
    margin: auto;
    padding: 30px;
}
.testimonial-element-center img{
    width: 80%;
    border-radius: 80%;
    display: block;
    margin: auto;
    padding: 30px;
}
.testimonial-element-right img{
    width: 80%;
    border-radius: 80%;
    display: block;
    margin: auto;
    padding: 30px;
}


/* Our Blog */
#our-blog {
    padding: 100px;
}

.ob-container {
    padding-left: 100px;
    padding-right: 100px;
}

.ob-row {
    display: flex;
    justify-content: space-around;
}

.ob-item {
    width: 31%;
}

.ob-item .top img {
    width: 100%;
    border-radius: 1%;
}

.ob-item .bottom {
    margin-top: -7px;
    padding: 16px;
    border-radius: 1%;
    border: solid 1px rgb(219, 219, 219);
}

.ob-item .bottom a:first-child {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: black;
    display: inline-block;
    transition: all 0.2s;
}

.ob-item .bottom a:first-child:hover {
    color: #ff9900;
}

.ob-item .bottom p {
    color: #999;
}

.ob-readmore {
    color: #ff9900;
    text-decoration: none;
    font-weight: 600;
}

.ob-item:last-child {
    padding: 20px;
    border: solid 1px rgb(219, 219, 219);
    box-shadow: 0px 3px 10px 1px rgb(45 45 45 / 8%);
}

#ob-blogs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}

.blog-title {
    color: #1f1f1f;
    font-size: 21px;
    font-weight: 400;
    transition: all 0.4s;
    text-decoration: none;
}

.blog-title:hover {
    color: #ff9900;
}

.blog-date {
    color: #ff9900;
}





#ggmap {
    margin-top: 30px;
    text-align: center;
}


#contact {
    width: 100%;
    float:left;
    padding: 40px 120px;
}
#contact h3{
    color: orange;
    font-size: 30px;
}

#contact .contact-info{
    width: 50%;
    float: left;
    padding: 0 80px;
}
#contact .loginform{
    float: right;

}
#contact .home{
    width: 100%;
    float:left;
    height: 100px;
}
#contact .home-icon{
    width:20% ;
    float: left;
}
#contact .home-address{
    width: 80%;
    float: right;
}
#contact .email{
    width: 100%;
    float: left;
    height: 100px;
}
#contact .email-icon{
    width: 20%;
    float: left;
}
#contact .email-address{
    width: 80%;
    float: right;
}
#contact .call{
    width: 100%;
    float: left;
}
#contact .call-icon{
    width: 20%;
    float: left;
}
#contact .phone-number{
    width: 80%;
    float: right;
}
#contact .loginform{
    text-align: center;
}
.access h4 {
    margin: 0;
    padding: 0%;
    text-align: left;
}
.access p {
    margin-bottom: 10px;
    text-align: left;
}
.access .icon{
    font-size: 25px;
}

p input{
    padding: 7.5px 15px;
    width: 100%;
    border: 1px solid #cccccc;
    outline: none;
}
.loginform {
    width: 50%;
    background-color:#F7F7F7;
    padding: 2em;
    box-shadow: 7px 7px 10px 0 rgb(56 56 56 / 21%);


}

.require{
    outline: none;
    padding: 15px;
    font-size: 16px;
    color: #555;
    width: 100%;
    border: 1px solid #e6e6e6;
}
.require-message{
    width: 100%;
    min-height: 180px;
    padding: 15px;
    margin-bottom: 15px;
    resize: none;
    border: 0px solid white;

}
.form-input{
    border-color: #fff;
    margin-bottom: 15px;
}
.btn-box{
    margin-top: -10px;
}
.btn-box button{
    padding:15px;
    border-radius: 5px;
    background-color: orange;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}


#footer{
    background: #111;
    position: relative;
    width: 100%;
    padding: 50px 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
#footer .footer-cointainer{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;

}
#footer .p-footer{
    color: white;
}
#footer h3{
    color: white;
}
#footer .footer-about{
    width: 25%;
}
#footer .footer-whoweare{
    width: 25%;
}
#footer .footer-aboutus{
    width: 25%;

}
#footer .footer-newsletter{
    width: 25%;
}

#footer .info li span{
    color: #fff;
}
#footer .info li p{
    color: grey;
    font-size: smaller;
    height: auto;
    text-align: left;
}
#footer .p-footer{
    color: grey;
    font-size: smaller;
    text-align: left;
}
#footer .footer-newsletter p{
    color: grey;
    font-size: smaller;
    text-align: left;
    margin: 0%;
    height: auto;
}

#footer .form__field {
    /* width: 50%; */
    background-color:#F7F7F7;
    padding: 10px;
    margin: 10px 0;
    border: none;
}
#footer .btn-submit{
    padding: 10px 20px;
    border-radius: 2px;
    background-color: orange;
    margin-left: -5px;
    border: none;
    outline: none;
}
.social-icon{
    margin-top: 20px;
    display: flex;
}
.social-icon li {
    list-style: none;
}
.social-icon li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 4px;
}
.social-md-item a {
    padding: 5px;
    text-align: center;
    width: 36px;
    height: 36px;
    text-decoration: none;
    margin-right: 10px;
}
.social-md-item a i {
    color: #fff;
}
#fb {
    background-color: #3b5998;
}

#twt {
    background-color: #1da1f2;
}
#ytb {
    background-color: #f44336;
}




@media only screen and (max-width: 992px) {
    #services{
        padding-top: 20px;
        padding-left: 0;
        padding-right: 10px;
        
    }
    /* Footer */
    #footer {
        padding: 30px 20px;
    }
    #footer .footer-cointainer {
        display: flex;
        justify-content: space-around;
    }

    #footer .footer-about{
        width:14%;
    }
    #footer .footer-whoweare{
        width: 14%;
    }
    #footer .footer-aboutus{
        width: 14%;

    }
    #footer .footer-newsletter{
        width: 35%;
        
    }
    


    /*Pet Services*/
    #services .services-left {
        width: 50%;
    }
    #services .services-right {
        width: 100%;
    }
   
   
}

@media only screen and (max-width:576px) {
    #footer{
        padding:15px 25px;
    }
    #footer .footer-cointainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    #footer .footer-about{
        width:45%;
        margin-right: 20px;
    }
    #footer .footer-whoweare {
        width:45%;
        margin-right: 20px;
    }
    #footer .footer-aboutus{
        width:45%;
        margin-right: 20px;
    }
    #footer .footer-newsletter{
        width: 95%;
    }
    
    /*Pet Services*/
    .div-whole{
        display: flex;
        flex-wrap: wrap;
    }
    #services {
        padding: 10px;
    }
    #services .services-item {
        width: 100%;
    }
    #services .services-left {
        padding: 0 20px;
        margin: 0%;
        width: 100%;
    }
    
}

@media only screen and (max-width: 576px) {
    #statistics {
        padding: 10px;
    }
    #statistics .container div {
        width: 100%;
    }

}

@media only screen and (max-width: 992px) {
    #what-we-do .cointainer .item {
        width: 50%;
    }

    /* testimonial  */
    #testimonial {
        padding:40px 0px;
    }
    /* Contact  */
    #contact{
        padding:40px 30px;
    }
    #contact .contact-info{
        padding:0 20px;
    }

    /*Header*/
    header {
        height: auto;
    }
    header nav{
        margin-right: 0;
    }
    nav label {
        display: block;
        padding: 15px;
        border-radius: 5px;
    }
    nav > label {
        margin-top: 20px;
        color: white;
        margin-right: 30px;
    }
    nav > label:hover{
        background-color: #fff;
        color: black;
    }
    nav > ul {
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: center;
        z-index: 1;
    }
    nav input[type="checkbox"]:checked ~ ul {
        display: block;
    }
    nav > ul > li {
        float: none;
    }
    .dropdown > a {
        display: none;
    }

    nav > ul > li:hover > ul {
        display: none;
    }
   

    #main-header {
        width: 90%;
    }
    #main-header h2 {
        font-size: 25px;
    }
}
@media only screen and (max-width: 576px) {
    #what-we-do .cointainer .item {
        width: 100%;
    }


     /* Our Blog */
     #our-blog{
        padding: 60px 10px 70px 10px;
    }
    #our-blog h2{
        font-size:35px;
    }
    .ob-item:last-child{
        padding:10px;
    }
    #ob-blogs {
        justify-content: flex-start;
    }
    .ob-item {
        width: 90%;
        margin-bottom: 50px;
    }
    .ob-row {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    /*Testimonial*/
    #testimonial{
        padding: 20px;
    }

    #testimonial .testimonial-cointainer .testimonial-element-left{
        width: 80%;
        margin-left: 70px;
    }
    #testimonial .testimonial-cointainer .testimonial-element-center{
        width: 80%;
        margin-left: 70px;

    }
    #testimonial .testimonial-cointainer .testimonial-element-right{
        width: 80%;
        margin-left: 70px;

    }

    #testimonial .testimonial-cointainer .testimonial-element-left img{
        padding: 60px;
    }
    #testimonial .testimonial-cointainer .testimonial-element-center img{
        padding: 60px;

    }
    #testimonial .testimonial-cointainer .testimonial-element-right img{
        padding: 60px;

    }

    /*Contact Us*/
    #contact {
        padding:40px 20px;
    }
    #contact .contact-info{
        width: 100%;
    }
    .loginform{
        width: 100%;
    }
    
}